*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar a{
    overflow: hidden;
    background-color: red;
    margin: 0;
}
#navbar a{
    float: left;
    color: #f2f2f2;
     text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#welcome-section{
    padding: 5px;
    margin: auto;
}